html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: 1em;
  padding: 1em;
  margin: 0;
}

article {
color: #222;
}

header {
  border-bottom: solid;
  border-sizes: 2px;
}

article h1 {
  font-family: "Crimson Text", regular;
  font-weight: normal;
  font-size: 1.5rem;
}

article p {
  font-weight: normal;
}

article header p {
  font-style: italic;
  font-size: 1.125rem;
}

blockquote {
  color: #555;
}

.quote {
  color: #999;
}

article ol {
  padding-left: 1rem;
}
