html {
    box-sizing: border-box;
    font-family: 'Crimson', serif;
    line-height: 1.3;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

h1 {
  font-family: 'Crimson', regular;
  font-weight: normal;
  font-size: 1.5rem;
}

header p {
  font-style: italic;
  font-size: 1.125rem;
}

p {
  color: #222;
}

blockquote {
  color: #555
}

body ol {
  padding-left: 1rem;
}
